.card {
  cursor: pointer;
  position: relative;
  width: 100%;
  background: url("../img/cards/back.png") no-repeat center center;
  background-size: cover;
  margin: auto;
  margin-bottom: 5px;
  overflow: hidden;
  &::before {
    content: "";
    padding-top: 1 / $card-aspect-ratio * 100%;
    float: left;
  }
}

.card--back {
  @extend .card;
}

.card__face {
  background: transparent no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: 15px;
  }
}