.cards {
  background: #000;
  position: relative;
  margin: -$card-margin 0 0 -$card-margin;
  width: $cards-container-width;
  max-height: 90vh;
  max-width: 95vw;
  padding-top: $cards-container-height / $cards-container-width * 100%;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .cards {
    max-width: $cards-container-max-width;
  }
}

/* Portrait orientation */
@media all and (orientation: portrait) {
  .cards {
    width: $cards-container-width-port;
    padding-top: $cards-container-height-port / $cards-container-width-port * 100%;
  }
}