.hero {
}

.hero__btn {
  background: $white;
  border: none;
  border-radius: 4px;
  color: $green;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.85;
  padding: 10px 20px;
  letter-spacing: 0;
  line-height: 22px;
}

.hero__image {
  width: 80vw;
  height: auto;
}

.hero__title {
  color: $white;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 38px;
  margin-top: 20px;
  margin-bottom: 34px;
  opacity: 0.85;
  text-transform: uppercase;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .hero__image {
    width: 100%;
  }
}