<!DOCTYPE html>
<html>
<head lang="ru">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="/">

  <title>Я собираю проекты как рок звезда</title>

  <!-- bower:css -->
  <!-- endbower -->

  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
<main>
  <div id="app">
    <div class="main-container">

      <div id="startScreen" v-if="state == 'start'">
        <div class="text-center">
          <div class="hero">
            <img class="hero__image" src="img/StartGame.png" alt="Start Game" width="501" height="257">
            <h1 class="hero__title">Memory Game</h1>
            <button class="hero__btn" @click="play">Начать игру</button>
          </div>
        </div>
      </div>

      <div id="gamePage" v-if="state == 'play'">
        <div class="text-center">
          <div class="hero">
            <img class="hero__image" src="img/StartGame.png" alt="Start Game" width="501" height="257">
            <h1 class="hero__title">Play!</h1>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
<!-- bower:js -->
<!-- endbower -->

<!-- Scripts -->
<script src="js/index.js"></script>

</body>
</html>